name: Reusable Print Environment Variable

on:
  workflow_call:
    # Map the workflow outputs to job outputs
    inputs:
      environment:
        required: true
        type: string
      VAR:
        required: true
        type: string

jobs:
  my-dynamic-env-job:
    runs-on: ubuntu-latest
    environment:
      name: ${{ inputs.environment }}
    steps:
      - run: |
          echo "${{ vars.VAR }}"