name: Terraform GitHub (Called)

on:
  workflow_call:
    inputs:
      repository:
        description: 'Name for the new repository (name only)'
        required: true
        type: string
      apply:
        description: 'Whether to apply the Terraform configuration (true/false)'
        required: true
        default: false
        type: boolean
    secrets:
      token:
        description: 'GitHub Token with repo and workflow permissions'
        required: true
        type: string
      IAM_AWS_CICD_ACCESSKEY_DEV:
        description: 'AWS Access Key for CICD in Development'
        required: true
      IAM_AWS_CICD_SECRETID_DEV:
        description: 'AWS Secret Key for CICD in Development'
        required: true
      IAM_AWS_CICD_ACCESSKEY_STAGING:
        description: 'AWS Access Key for CICD in Staging'
        required: true
      IAM_AWS_CICD_SECRETID_STAGING:
        description: 'AWS Secret Key for CICD in Staging'
        required: true
      IAM_AWS_CICD_ACCESSKEY_PROD:
        description: 'AWS Access Key for CICD in Production'
        required: true
      IAM_AWS_CICD_SECRETID_PROD:
        description: 'AWS Secret Key for CICD in Production'
        required: true

env:
  TF_VAR_github_token: ${{ inputs.token }}
  TF_VAR_github_repository: ${{ inputs.repository }}
  TF_VAR_environment_secrets: '{"development":{"AWS_ACCESS_KEY_ID":"${{secrets.IAM_AWS_CICD_ACCESSKEY_DEV}}","AWS_SECRET_ACCESS_KEY":"${{secrets.IAM_AWS_CICD_SECRETID_DEV}}"},"staging":{"AWS_ACCESS_KEY_ID":"${{secrets.IAM_AWS_CICD_ACCESSKEY_STAGING}}","AWS_SECRET_ACCESS_KEY":"${{secrets.IAM_AWS_CICD_SECRETID_STAGING}}"},"production":{"AWS_ACCESS_KEY_ID":"${{secrets.IAM_AWS_CICD_ACCESSKEY_PROD}}","AWS_SECRET_ACCESS_KEY":"${{secrets.IAM_AWS_CICD_SECRETID_PROD}}"}}'

defaults:
  run:
    shell: bash
    working-directory: .github/infra

# permissions: write-all

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        if: inputs.apply
        run: terraform apply -auto-approve