name: Continuous Integration

on:
  push:
  workflow_call:

jobs:
  unit-test:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
        - name: Checkout code
          uses: actions/checkout@v4
        - name: Run tests
          run: |
            echo "Running unit tests..."
            # Add your test commands here, e.g., npm test, pytest, etc.

  release-management:
    name: Release management
    uses: amsrun/template/.github/workflows/release-management.yml@main

  debug:
    needs: [release-management, unit-test]
    name: Debug
    runs-on: ubuntu-latest
    steps:
      - name: Display Release Version
        run: |
          echo "Release version: ${{ needs.release-management.outputs.release-version }}"
          echo "This version can be used for tagging, creating releases, etc."
