name: Release Management

on:
  workflow_call:
    outputs:
      release-version:
        description: "Generated release version based on date and run number"
        value: ${{ jobs.generate-version.outputs.version }}

jobs:
  generate-version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.create-version.outputs.version }}
    steps:
      - name: Generate Release Version
        id: create-version
        run: |
            DATE=$(date +'%y.%m.%d')
            VERSION="${DATE}.${{ github.run_number }}"
            echo "version=${VERSION}" >> $GITHUB_OUTPUT
            echo "Generated release version: ${VERSION}"

