name: Scaffold New Repository

on:
  workflow_dispatch:
    inputs:
      repository:
        description: 'Name for the new repository (name only)'
        required: true
        type: string
      token:
        description: 'GitHub Token with repo and workflow permissions'
        required: true
        type: string

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - run: env | grep GITHUB
      - name: Check Repository
        id: create_repo
        env:
          GH_TOKEN: ${{ inputs.token }}
        run: |
          if gh repo view amsrun/${{ inputs.repository }} > /dev/null 2>&1; then
            echo "::error::Repository ${{ inputs.repository }} already exists. Cannot proceed."
            exit 1
          fi

  apply:
    needs: validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout template repository
        uses: actions/checkout@v4
      - name: Scaffold Repository with Terraform
        id: scaffold_repo
        uses: ./.github/actions/scaffold-repository
        with:
          repository: ${{ inputs.repository }}
          token: ${{ inputs.token }}
  # plan:
  #   needs: validate
  #   uses: amsrun/template/.github/workflows/called-terraform-github.yml@main
  #   with:
  #     repository: ${{ inputs.repository }}
  #     token: ${{ inputs.token }}
  #     apply: false
  #   secrets: inherit

  # apply:
  #   needs: validate
  #   uses: amsrun/template/.github/workflows/called-terraform-github.yml@main
  #   with:
  #     repository: ${{ inputs.repository }}
  #     token: ${{ inputs.token }}
  #     apply: true
  #   secrets: inherit

  # seed-repository:
  #   needs: apply
  #   uses: amsrun/template/.github/workflows/called-seed-repository.yml@main
  #   with:
  #     repository: ${{ inputs.repository }}
  #     default_branch: develop
  #   secrets:
  #     token: ${{ inputs.token }}


