name: Scaffold Repository

on:
  workflow_dispatch:
    inputs:
      repository:
        description: 'Repository name (only)'
        required: true
        type: string
      token:
        description: 'GitHub token with repo permissions'
        required: true
        type: string
      create_repository:
        description: 'Create a new repository'
        required: false
        default: true
        type: boolean
      create_environment:
        description: 'Create deployment environments'
        required: false
        default: true
        type: boolean
      default_branch:
        description: 'Name of the default branch to create from template (leave empty to skip)'
        required: false
        default: 'develop'
        type: string
      infra_name:
        description: 'Name for the infrastructure project (leave empty to skip)'
        required: false
        default: ''
        type: string

jobs:
  check-availability:
    if: ${{ inputs.create_repository }}
    runs-on: ubuntu-latest
    steps:
      - name: Check new repository availability
        id: check_repo
        env:
          GH_TOKEN: ${{ inputs.token }}
        run: |
          if gh repo view amsrun/${{ inputs.repository }} > /dev/null 2>&1; then
            echo "::error::Repository ${{ inputs.repository }} already exists. Cannot proceed."
            exit 1
          fi

  check-existence:
    if: ${{ !inputs.create_repository }}
    runs-on: ubuntu-latest
    steps:
      - name: Check repository exists
        id: check_repo
        env:
          GH_TOKEN: ${{ inputs.token }}
        run: |
          if ! gh repo view amsrun/${{ inputs.repository }} > /dev/null 2>&1; then
            echo "::error::Repository ${{ inputs.repository }} does not exist. Cannot proceed."
            exit 1
          fi

  scaffold-repository:
    needs: [check-availability, check-existence]
    if: ${{ !cancelled() && !contains(needs.*.result, 'failure') && inputs.create_repository }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout template repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Scaffold Repository with Terraform
        id: scaffold_repo
        uses: ./.github/actions/scaffold-repository
        with:
          repository: ${{ inputs.repository }}
          token: ${{ inputs.token }}
          variables: |
            github_token = "${{ inputs.token }}"
            github_repository = "${{ inputs.repository }}"

  scaffold-environment:
    needs: [check-availability, check-existence, scaffold-repository]
    if: ${{ !cancelled() && !contains(needs.*.result, 'failure') && inputs.create_environment }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout template repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Setup Deployment Environment with Terraform
        id: setup_deployment_environment
        uses: ./.github/actions/scaffold-environment
        with:
          repository: ${{ inputs.repository }}
          token: ${{ inputs.token }}
          variables: |
            github_token = "${{ inputs.token }}"
            github_repository = "${{ inputs.repository }}"
            environment_secrets = {
              "development": {
                "AWS_ACCESS_KEY_ID": "${{ secrets.IAM_AWS_CICD_ACCESSKEY_DEV }}",
                "AWS_SECRET_ACCESS_KEY": "${{ secrets.IAM_AWS_CICD_SECRETID_DEV }}"
              },
              "staging": {
                "AWS_ACCESS_KEY_ID": "${{ secrets.IAM_AWS_CICD_ACCESSKEY_STAGING }}",
                "AWS_SECRET_ACCESS_KEY": "${{ secrets.IAM_AWS_CICD_SECRETID_STAGING }}"
              },
              "production": {
                "AWS_ACCESS_KEY_ID": "${{ secrets.IAM_AWS_CICD_ACCESSKEY_PROD }}",
                "AWS_SECRET_ACCESS_KEY": "${{ secrets.IAM_AWS_CICD_SECRETID_PROD }}"
              }
            }

  scaffold-default-branch:
    needs: [check-availability, check-existence, scaffold-repository]
    if: ${{ !cancelled() && !contains(needs.*.result, 'failure') && inputs.default_branch != '' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout template repository
        uses: actions/checkout@v4

      - name: Create Default Branch from Template
        id: scaffold_default_branch
        uses: ./.github/actions/scaffold-default-branch
        with:
          repository: ${{ inputs.repository }}
          token: ${{ inputs.token }}
          branch: ${{ inputs.default_branch }}