name: Terraform GitHub (Called)

on:
  workflow_call:
    inputs:
      repository:
        description: 'Name for the new repository (name only)'
        required: true
        type: string
      apply:
        description: 'Whether to apply the Terraform configuration (true/false)'
        required: true
        default: 'false'
        type: boolean
      token:
        description: 'GitHub Token with repo and workflow permissions'
        required: true
        type: string

env:
  TF_VAR_github_token: ${{ inputs.token }}
  TF_VAR_github_repository: ${{ inputs.repository }}
  TF_VAR_environment_secrets: |
    {
      "staging": {
        "API_KEY": "staging-key",
        "DB_URL": "postgres://..."
      },
      "production": {
        "API_KEY": "prod-key",
        "DB_URL": "postgres://..."
      }
    }

defaults:
  run:
    shell: bash
    working-directory: .github/infra

# permissions: write-all

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - run: env | grep GITHUB

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        if: inputs.apply == 'true'
        run: terraform apply -auto-approve