name: Terraform GitHub Environment Management

on:
  workflow_dispatch:
    inputs:
      token:
        description: 'GitHub Token with repo and workflow permissions'
        required: true
        type: string

jobs:
  terraform:
    runs-on: ubuntu-latest
    permissions: write-all
    defaults:
      run:
        working-directory: .github/infra

    env:
      TF_VAR_github_token: ${{ vars.token }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve